default: &default
  adapter: postgresql
  encoding: unicode
  host: {{ database_host }}
  username: <%=ENV['DB_USERNAME']%>
  password: <%=ENV['DB_PASSWORD']%>
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 3 } %>

production:
  <<: *default
  database: {{ postgresql_databases[0].name }}
  username: {{ postgresql_users[0].name }}
  password: {{ postgresql_users[0].password }}
